<div class="wrapper" ng-controller="ChannelsTopCtrl">

  <div class="row">
    <div class="form-group col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control"
               datepicker-popup="yyyy-MM-dd" ng-model="dt"
               is-open="opened"
               datepicker-options="dateOptions"
               clear-text="清除"
               current-text="今天"
               close-text="关闭"
               ng-required="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
      </div>
    </div>
    <div class="form-group col-sm-6 ">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"
                  ng-click="tvType = '00'"
                  ng-class="{active: tvType === '00'}">全部
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"
                  ng-click="tvType = '01'"
                  ng-class="{active: tvType === '01'}">央视
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"
                  ng-click="tvType = '02'"
                  ng-class="{active: tvType === '02'}">卫视
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"
                  ng-click="tvType = '03'"
                  ng-class="{active: tvType === '03'}">其他
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 no-padder-lg-xs" cg-busy="{promise:promise,message:'加载中...'}">
      <div class="panel panel-default no-padder-lg-xs table-responsive">
        <div ng-click="refresh()" class="panel-heading">{{dt|date:'M月d日': +8}} 电视台排行</div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>名称</th>
            <th>关注度</th>
            <th>市占比</th>
          </tr>
          </thead>
          <tbody">
          <tr ng-repeat="item in items">
            <td>{{item.no}}</td>
            <td><a ui-sref="app.channelDetail({id:item.tv_id})">{{item.tv_name}}</a></td>
            <td>{{item.tv_ratings}}%</td>
            <td>{{item.market_ratings}}%</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>