<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
  app.settings.asideFolded = false;
  app.settings.asideDock = false;
  ">
  <!-- main -->
  <div class="col" ng-controller="ChannelCtrl">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">{{channelIDs[cid].name}} 关注度</h1>
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    <!-- / main header -->
    <!-- stats -->
    <div class="wrapper">
      <div class="row" ng-init="daterangeCustom = false">
        <div class="form-group col-sm-8 "
             ng-class="{hide:daterangeCustom, show:!daterangeCustom}">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"
                      ng-click="today()"
                      ng-class="{active: daterangeType === 'today'}">今天
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"
                      ng-click="yesterday()"
                      ng-class="{active: daterangeType === 'yesterday'}">昨天
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"
                      ng-click="before7days()"
                      ng-class="{active: daterangeType === 'before7days'}">前7天
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"
                      ng-click="before30days()"
                      ng-class="{active: daterangeType === 'before30days'}">前30天
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"
                      ng-click="daterangeCustom = !daterangeCustom">自定义
              </button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-8" role="group"
             ng-class="{show:daterangeCustom, hide:!daterangeCustom}">
          <div class="btn-group btn-group-justified">
            <div class="btn-group" role="group">
              <input type="text" class="form-control btn-group"
                     datepicker-popup="yyyy-MM-dd" ng-model="from"
                     is-open="fromOpened" role="group"
                     datepicker-options="dateOptions" clear-text="清除"
                     ng-required="true" close-text="关闭" ng-click="fromOpened=true"/>
            </div>
            <div class="btn-group">
              <input type="text" class="form-control btn-group"
                     datepicker-popup="yyyy-MM-dd" ng-model="to"
                     is-open="toOpened" role="group"
                     datepicker-options="dateOptions" clear-text="清除"
                     ng-required="true" close-text="关闭" ng-click="toOpened=true"/>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default active btn-group"
                      role="group"
                      ng-click="daterangeCustom = !daterangeCustom">自定义
              </button>
            </div>

          </div>
        </div>

        <div class="form-group col-sm-4 col-xs-12" ng-init="vsid = ''">
          <div>
            <!--<select ui-jq="chosen" class="w-full" ng-model="vsid">-->
              <!--<option ng-repeat="item in channels" value="{{item.id}}">{{item.name}}</option>-->
            <!--</select>-->
            <select  class="w-full form-control m-b" ng-model="vsid"
                     ng-options="item.name for item in channels track by item.id" >
              <option value="">-- 选择一个电视台 --</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">
        <!--图表-->
        <div class="col-md-12 no-padder-lg-xs ">
          <div class="panel wrapper no-padder-lg-xs ">
            <h4 class="font-thin m-t-none m-b text-muted"></h4>
            <div class="m-b-lg bg-light dk" ui-echarts option="option" style="height: 348px;"></div>
          </div>
        </div>

      </div>
      <!--数据-->
      <div class="row">
        <div class="col-md-12 no-padder-lg-xs">
          <div class="no-padder-lg-xs">
            <tabset>
            <tab>
              <tab-heading>EPG信息</tab-heading>
              <div class="panel panel-body no-padder-lg-xs">
                <table class="table" ui-jq="footable" data-filter="#filter" data-page-size="10">
                <thead>
                <tr>
                  <th data-toggle="true">名称</th>
                  <th data-hide="phone">日期</th>
                  <th data-hide="phone">时间</th>
                  <th data-hide="phone">市占比</th>
                  <th>关注度</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                  <td>{{item.cd_name}}</td>
                  <td>{{item.date}}</td>
                  <td >{{item.start}}～{{item.end}}</td>
                  <td>{{item.market_ratings}}</td>
                  <td >{{item.tv_ratings}}</td>
                </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                <tr>
                  <td colspan="5" class="text-center">
                    <ul class="pagination"></ul>
                  </td>
                </tr>
                </tfoot>
              </table>
              </div>
            </tab>
            <tab>
              <tab-heading>流入流出</tab-heading>
              <div class="panel panel-default">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>名称</th>
                        <th>流入</th>
                        <th>流出</th>
                        <th>净值</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>开关机</td>
                        <td>12.232%</td>
                        <td>-2.232%</td>
                        <td>10%</td>
                      </tr>
                      <tr>
                        <td>CCTV1</td>
                        <td>12.232%</td>
                        <td>-2.232%</td>
                        <td>10%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>
        </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
