<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">节目排行榜</h1>
</div>

<div class="wrapper" ng-controller="TvShowsTopCtrl">
  <div class="row">
    <div class="form-group col-xs-6">
      <label class="control-label">日期</label>
        <div class="input-group">
          <input type="text" class="form-control"
                 datepicker-popup="yyyy-MM-dd" ng-model="dt"
                 is-open="opened"
                 datepicker-options="dateOptions" clear-text="清除"
                 ng-required="true" close-text="关闭"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
        </div>
    </div>
    <div class="form-group col-xs-6">
      <label class="control-label">榜单类型</label>

      <div>
        <select  class="w-full form-control m-b" ng-model="reportType"
                 ng-options="item.name for item in reportTypes track by item.id" ></select>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12  no-padder-lg-xs" cg-busy="{promise:promise,message:'加载中...'}">
      <div class="panel panel-default  no-padder-lg-xs">
        <div class="panel-heading">{{dt|date:'M月d日': +8}} {{reportType.name}}</div>
        <div class="table-responsive">
          <table class="table table-striped b-t b-light" data-page-size="20" ui-jq="footable" data-sort="false" >
            <thead>
            <tr>
              <th data-hide="phone">＃</th>
              <th data-hide="phone">电视台</th>
              <th data-toggle="true">节目</th>
              <th data-hide="phone">时间</th>
              <th>关注度</th>
              <th data-hide="phone">市占比</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
              <td>{{$index + 1}}</td>
              <td>{{item.tv_name}}</td>
              <td><a ui-sref="app.tvshowDetail({showid:item.ca_id, typeid:reportType.id})">{{item.cd_name}}</a></td>
              <td>{{item.start}}－{{item.end}}</td>
              <td>{{item.tv_ratings}}%</td>
              <td >{{item.market_ratings}}%</td>
            </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
            <tr>
              <td colspan="5" class="text-center">
                <ul class="pagination"></ul>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>