<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
  app.settings.asideFolded = false;
  app.settings.asideDock = false;
  ">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">奔跑吧兄弟</h1>
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md" ng-controller="ShowRatingCtrl">
      <!-- stats -->
      <div class="row">
        <div class="row wrapper ">
          <div class="form-group col-xs-6">
            <label class="control-label">日期选择</label>
            <div ng-controller="DatepickerDemoCtrl">
              <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="col-md-12">
          <div class="panel wrapper" ng-init="showSpline=true">
            <h4 class="font-thin m-t-none m-b text-muted">关注度
            </h4>
            <div class="m-b-lg bg-light dk" ui-echarts option="option" style="height: 348px;"></div>
          </div>
        </div>
      </div>
      <!-- / stats -->
    </div>
    <!-- 数据列表 -->
    <div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading">
          电视节目
        </div>
        <div class="table-responsive">
          <table ui-jq="dataTable" ui-options="{
            sAjaxSource: 'vendor/jquery/datatables/datatable.json',
            aoColumns: [
            { mData: 'engine' },
            { mData: 'browser' },
            { mData: 'platform' },
            { mData: 'version' },
            { mData: 'grade' }
            ]
            }" class="table table-striped m-b-none">
            <thead>
              <tr>
                <th  style="width:20%">engine</th>
                <th  style="width:25%">名称</th>
                <th  style="width:25%">播出时间</th>
                <th  style="width:15%">关注度</th>
                <th  style="width:15%">CSS</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- / 数据列表 -->
  </div>
  <!-- / main -->
</div>